<div mat-dialog-title>
    <h1>Branch Data</h1>
</div>
<form [formGroup]="brnForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row" >
            <mat-form-field appearance="outline">
                <mat-label >NameBranch</mat-label>
                <input matInput type="text" placeholder="Enter Name of Branch" formControlName="name">
                <!-- <mat-error *ngIf="brnForm.hasError('required')">
                    Branch name is required.
                  </mat-error>
                  <mat-error *ngIf="brnForm.hasError('minlength')">
                    Branch name must be at least 4 characters long.
                  </mat-error>
                  <mat-error *ngIf="brnForm.hasError('maxlength')">
                    Branch name cannot exceed 30 characters.
                  </mat-error>
                  <mat-error *ngIf="brnForm.hasError('pattern')">
                    Branch name cannot contain symbols, numbers, or spaces.
                  </mat-error> -->
              </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action" >
        <button mat-raised-button type="button" mat-dialog-close="false">
      Cancel
        </button>
        <button mat-raised-button  color="primary" type="submit" [disabled]="brnForm.invalid">
           {{data ? 'Update': 'Save'}}
              </button>
    </div>
</form>

