// .color{
//     background-color: #1b8bd6;
// }
h1{
    color: aliceblue;
}
.main-body{
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1248px;
    mat-form-field{
        width: 100%;
    }
}
