<div mat-dialog-title>
    <h1>Sectable Data</h1>
</div>
<form [formGroup]="tabsecform" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
     
        <div class="row-n">
            <mat-form-field>
                <mat-label>Course</mat-label>
                <mat-select formControlName="course">
                 
                    <mat-option *ngFor="let val of courses" [value]="val"> {{val}} </mat-option>
                  
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Branch</mat-label>
                <mat-select formControlName="branch">
                 
                    <mat-option *ngFor="let val of branch" [value]="val"> {{val}} </mat-option>
                  
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Table</mat-label>
                <mat-select formControlName="table">
                 
                    <mat-option *ngFor="let val of table" [value]="val"> {{val}} </mat-option>
                  
                </mat-select>
              </mat-form-field>
              </div>
       
      
     
    </div>
 
  
  
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false" >Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="tabsecform.invalid">{{data ? 'Update':'Save'}}</button>
    </div>
   
</form>
