<section class="py-4 pt-5" >
    <div class="px-5 pt-4">
       
            
                
             <div class="d-flex">
                <button class="btn btn-lg  ms-2" (click)="secbr()" mat-raised-button  color="primary" >
                    SectionGroup
                  </button>

          
               <button (click)="secg()" class="btn btn-lg  ms-2 " mat-raised-button color="primary" routerLinkActive="active rounded-3" >
                   SecGroupsBranch
                  </button>
                
             </div>
            
                   
            
        
        </div>
            
        <!-- <nav class="navbar color ">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item me-3">
                    <a
                      class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2"
                      routerLink="lecgroup"
                      routerLinkActive="active rounded-3"
                      style="width: fit-content"
                      >Lecgroup</a
                    >
                  </li>
               
                  <li class="nav-item dropdown" ngbDropdown >
                    <a ngbDropdownToggle  class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2"  routerLinkActive="active rounded-3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     Branches
                    </a>
                  
                  </li>
              
                   
                      
                     
               
                 
              
                 
                </ul>
              </div>
        </nav> -->
  
 
    
</section>

