<div mat-dialog-title>
    <h1>Room Data</h1>
</div>
<form [formGroup]="roomform" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row-n">
            <mat-form-field appearance="outline">
                <mat-label>Name Room</mat-label>
                <input matInput type="text" placeholder="Enter Room Name" formControlName="roomname">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Capacity</mat-label>
                <input matInput type="number" placeholder="Enter any Number" formControlName="capacity" max="600" min="1">
            </mat-form-field>
        </div>
        <div class="row-n">
            <mat-form-field>
                <mat-label>Branch Name</mat-label>
                <mat-select formControlName="bname">

                    <mat-option *ngFor="let val of branchname" [value]="val.id"> {{val.name}} </mat-option>

                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Type Room</mat-label>
                <mat-select formControlName="troom">

                    <mat-option *ngFor="let val of typeroom" [value]="val.id"> {{val.name}} </mat-option>

                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="roomform.invalid">{{data ?
            'Update':'Save'}}</button>
    </div>

</form>