<section class="py-4 pt-5" >
    <div class="px-5 pt-5">
        <nav class="navbar color ">
        <div class="container-fluid">
         <h3 class="fw-bold fs-1 h1">Create TableSec </h3>
        
      
    </div>
        </nav>
        <!-- Button trigger modal -->

  
  <!-- Modal -->
 
    </div>
</section>
<section class="py-4 ">
    <div
    class="container d-flex justify-content-center align-items-center flex-column"
  >
    <h2 class="my-5 fs-1">Add Table </h2>
    <div class="input-container w-100 ">
      <h2 class="fw-lighter text-center mb-5 fs-2">
        <i class="fa-solid fa-bookmark fs-3"></i>It allowed to enter more than one 
        <i class="fa-solid fa-bookmark fs-3"></i>
      </h2>

   
   </div>
  </div>
</section>

<section class="py-2 shadow px-3">
  <div class="main-body">
   
      <div class="container w-50 p-5">
        <form [formGroup]="useFrom">
          <div class="mt-5 box">
           
            <div class="col-md-12">
              <div class="form-group mt-4">
             
              </div>
              <div class="form-row d-flex gap-5"style="margin-top: 10px;">
                <mat-form-field>
                  <mat-label>Table Name</mat-label>
                  <mat-select formControlName="table">
                   
                      <mat-option *ngFor="let val of table" [value]="val"> {{val}} </mat-option>
                    
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Course</mat-label>
                  <mat-select formControlName="course">
                   
                      <mat-option *ngFor="let val of course" [value]="val"> {{val}} </mat-option>
                    
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Branch</mat-label>
                  <mat-select formControlName="branch">
                   
                      <mat-option *ngFor="let val of branch" [value]="val"> {{val}} </mat-option>
                    
                  </mat-select>
                </mat-form-field>
              </div>
              </div>
              
                <div class="form-row mt-4">
                  <div class=col-md-6>
                    <button type="button" class="btn btn-primary" (click)="additem()">Add</button>&nbsp;
                    <button type="button" class="btn btn-primary"(click)="resetitem()">Reset</button>
                  </div>
        
                </div>
          </div>
         </form>
              <div class="col-md-8 mt-4 mb-4 mx-4">
               <table class="table table-bordered">
                  <thead>
                    <th>Table</th>
                    <th>Course</th>
                    <th>Branch</th>
                    <th>Action</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of listdata">
                       <td><span>{{item.table}}</span></td>
                       <td><span>{{item.course}}</span></td>
                       <td><span>{{item.branch}}</span></td>
                       <td><button type="button" class="btn btn-primary"(click)="removeitem(item)">Remove</button></td>
                    </tr>
                  </tbody>
               </table>
               <button type="button" class="btn btn-primary mx-5 w-75 btn-dark">Submit</button>
              </div>
             </div>
             </div>
             </section>

