h1{
    color: aliceblue;
}
.main-body{
    margin: 0 auto;
    max-width: 1248px;
    mat-form-field{
        width: 100%;
    }
}
.hvr:hover{
    background-color: rgb(173, 201, 192);
    color:black;
}