<section class="py-4 pt-5" >
    <div class="px-5 pt-5">
        <nav class="navbar color ">
        <div class="container-fluid">
         <h3 class="fw-bold fs-1 h1">Create TableLec </h3>
        
      
    </div>
        </nav>

 
    </div>

<section class="py-2 shadow px-3">
    <div class="main-body">
     
        <div class="container w-50 p-5">
          <form [formGroup]="userFrom">
            <div class="mt-5 box">
              <div class="col-md-12">
              <div class="form-group mt-4">
               <label >Name</label>
              </div>
              <div class="form-row" style="margin-top: 10px;">
                 <div class="col">
                 <input type="text"  formControlName="name" class="form-control" placeholder="Name">
                 </div>
              </div>
              </div>
              <div class="col-md-12">
                <div class="form-group mt-4">
               
                </div>
                <div class="form-row d-flex gap-5"style="margin-top: 10px;">
                  <mat-form-field>
                    <mat-label>Course</mat-label>
                    <mat-select formControlName="course">
                     
                        <mat-option *ngFor="let val of course" [value]="val"> {{val.name}} </mat-option>
                      
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Semester</mat-label>
                    <mat-select formControlName="semster">
                     
                        <mat-option *ngFor="let val of semster" [value]="val"> {{val}} </mat-option>
                      
                    </mat-select>
                  </mat-form-field>
                </div>
                </div>
                
                  <div class="form-row mt-4">
                    <div class=col-md-6>
                      <button type="button" class="btn btn-primary" (click)="additem()">Add</button>&nbsp;
                      <button type="button" class="btn btn-primary"(click)="resetitem()">Reset</button>
                    </div>
          
                  </div>
            </div>
           </form>
                <div class="col-md-8 mt-4 mb-4 mx-4">
                 <table class="table table-bordered">
                    <thead>
                      <th>Course</th>
                      <th>Action</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of listdata">
                         <td><span>{{item.course.name}}</span></td>
                         <td><button type="button" class="btn btn-primary"(click)="removeitem(item)">Remove</button></td>
                      </tr>
                    </tbody>
                 </table>
                 <button type="button" class="btn btn-primary mx-5 w-75 btn-dark">Submit</button>
                </div>
               </div>
               </div>
               </section>
            
      
   
      


