<section class="py-4 pt-5" >
    <div class="px-5 pt-5">
        <nav class="navbar color ">
        <div class="container-fluid">
         <h3 class="fw-bold fs-1 h1">Staff</h3>
        
        <div class=" d-flex">
                    <button class="btn btn-lg  ms-2" mat-raised-button color="primary" (click)="openAddEditStaff()" >
                        AddStaff
                       </button>
        </div>
    </div>
        </nav>
 
    </div>
</section>
<section class="py-4 ">
    <div
    class="container d-flex justify-content-center align-items-center flex-column"
  >
    <h2 class="my-5 fs-1">Add Staff </h2>
    <div class="input-container w-100 ">
      <h2 class="fw-lighter text-center mb-5 fs-2">
        <i class="fa-solid fa-bookmark fs-3"></i>It allowed to enter more than one 
        <i class="fa-solid fa-bookmark fs-3"></i>
      </h2>

   
   </div>
  </div>
</section>
<section class="py-4 shadow px-4">
    <div class="main-body">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>
      
      <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort class="table">
      
          <!-- ID Column -->
          <!-- <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container> -->
      
          <!-- Progress Column -->
          <ng-container matColumnDef="jopname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Jop Name</th>
            <td mat-cell *matCellDef="let row"> {{row.jopname}} </td>
          </ng-container>
      
     
      
          <!-- branch Column -->
          <ng-container matColumnDef="bname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> BranchName</th>
            <td mat-cell *matCellDef="let row"> {{row.bname}} </td>
          </ng-container>
          <!-- type Column -->
          <ng-container matColumnDef="tjop">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> TypeJop</th>
            <td mat-cell *matCellDef="let row"> {{row.tjop}} </td>
          </ng-container>
           
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action</th>
            <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" (click)="openEditStaff(row)">
                <mat-icon class="">edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteStaff(row.id)">
                <mat-icon class="" >delete</mat-icon>
            </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
      
        
      </div>
      </div>
      
</section>

