header {
    height: 100vh;
    background-image: url(../../../assets/imgs/EELU.png);
    background-size: cover;
}

.bg-opacity-65 {
    --bs-bg-opacity: 0.5;
}

.home-content h1,
.home-content p {
    color: #fff;
}
h1 {
    font-size: 50px;
    font-weight: 800;
}

.home-content .caption {
    font-weight: 200;
    font-size: 38px;
}

/* ICONS */
.home-content .icon i {
    width: 35px;
    height: 35px;
}

.home-content span::after {
    content: "";
    animation: typing 7s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
}
@keyframes typing {
    0% {
        content: " WELCOME To EELUTTMS";
    }
    2% {
        content: " WELCOME To EELUTTMS";
    }
    4% {
        content: " WELCOME To EELUTTMS";
    }
    6% {
        content: " WELCOME To EELUTTMS";
    }
    8% {
        content: "WELCOME To EELUTTMS";
    }
    10% {
        content: " WELCOME To EELUTTMS";
    }
    12% {
        content: " WELCOME To EELUTTMS ";
    }
    14% {
        content: " WELCOME To EELUTTMS";
    }
    16% {
        content: " WELCOME To EELUTTMS";
    }
    18% {
        content: " WELCOME To EELUTTMS";
    }
    20% {
        content: "  WELCOME To EELUTTMS";
    }
    22% {
        content: " WELCOME To EELUTTMS";
    }
    24% {
        content: "WELCOME To EELUTTMS";
    }
    26% {
        content: " WELCOME To EELUTTMS";
    }
    32% {
        content: " WELCOME To EELUTTMS";
    }
    33% {
        content: "WELCOME To EELUTTMS";
    }
    34% {
        content: " WELCOME To EELUTTMS";
    }
    35% {
        content: "WELCOME To EELUTTMS";
    }
    36% {
        content: " WELCOME To EELUTTMS";
    }
    37% {
        content: " WELCOME To EELUTTMS";
    }
    38% {
        content: "WELCOME To EELUTTMS";
    }
    39% {
        content: "WELCOME To EELUTTMS ";
    }
    40% {
        content: "WELCOME To EELUTTMS";
    }
    41% {
        content: "WELCOME To EELUTTMS";
    }
    42% {
        content: "WELCOME To EELUTTMS";
    }
    43% {
        content: "WELCOME To EELUTTMS";
    }
    44% {
        content: " WELCOME To EELUTTMS";
    }
    45% {
        content: "WELCOME To EELUTTMS";
    }
    47% {
        content: "WELCOME To EELUTTMS";
    }
    49% {
        content: " WELCOME To EELUTTMS";
    }
    51% {
        content: "WELCOME To EELUTTMS";
    }
    53% {
        content: "WELCOME To EELUTTMS";
    }
    55% {
        content: "WELCOME To EELUTTMS";
    }
    57% {
        content: "WELCOME To EELUTTMS";
    }
    59% {
        content: "WELCOME To EELUTTMS";
    }
    61% {
        content: " WELCOME To EELUTTMS";
    }
    63% {
        content: "WELCOME To EELUTTMS";
    }
    65% {
        content: "WELCOME To EELUTTMS";
    }
    70% {
        content: "WELCOME To EELUTTMS";
    }
    71% {
        content: " WELCOME To EELUTTMS";
    }
    72% {
        content: " WELCOME To EELUTTMS";
    }
    75% {
        content: " WELCOME To EELUTTMS";
    }
    80% {
        content: " WELCOME To EELUTTMS";
    }
   
    100% {
        content: " WELCOME To EELUTTMS";
    }
}